<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>23-24</title>
    <link rel="stylesheet" href="style.css">
    <script data-main="js/app" src="js/require.js"></script>
  </head>
  <body>

<div class="edit">
    <script type="text/template" id="wrapper-template">
      <h1>To Do List</h1>
      <div class="wrapper">
        <ul class="item-list"></ul>
        <div class="controlls">
          <input type="text" class="item-value">
          <button class="item-add">Add</button>
        </div>
      </div>
    </script>

    <script type="text/template" id="list-template">
      <% for(var i = 0; i < data.length; i++) { %>
        <li><span data-value="<%= data[i] %>" class="item-delete">&times;</span><span class="text" id="<%= [i] %>"><%= data[i] %></span></li>
      <% }; %>
    </script>

  </div>

  </body>
</html>
